.rooms {
  background-color: #fcf8f3;
  @include adaptive-value('padding-top', 44, 30, 1);
  @include adaptive-value('padding-bottom', 44, 30, 1);

  // .rooms__container
  &__container {
    @media (min-width: $md2+px) {
      display: flex;
    }
  }

  // .rooms__body
  &__body {
    position: relative;
    flex: 0 0 calc(465 / 1240 * 100%);
    align-self: center;
    z-index: 5;

    @media (min-width: $md2+px) {
      @include adaptive-value('padding-right', 80, 30, 1);
    }

    @media (max-width: $md2+px) {
      margin-bottom: 30px;
    }
  }

  // .rooms__title
  &__title {
    margin-bottom: calc(8px / 40px * 1em);
    text-align-last: left;

    &:last-child {
      margin-bottom: 0;
    }
  }

  // .rooms__text
  &__text {
    line-height: 150%;
    font-weight: 500;
    margin-bottom: 24px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  // .rooms__button
  &__button {
    background-color: $orangeColor;
    color: #fff;
    min-width: 100px;

    @media (any-hover: hover) {
      &:hover {
        background-color: #8d6146;
      }
    }
  }

  // .rooms__slider
  &__slider {
    flex: 1 1 auto;
    min-width: 0;
    align-self: flex-start;

    @media (max-width: $md4+px) {
      margin: 0 -15px;
    }
  }
}

.slider-rooms {
  position: relative;

  // .slider-rooms__body
  &__body {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100vw;
      background-color: #fcf8f3;
      transform: translateX(-100%);
      z-index: 2;
    }
  }

  // .slider-rooms__slide
  &__slide {
    position: relative;
    width: 372px;
    overflow: hidden;
    @include adaptive-value('min-height', 585, 400, 1);

    &.swiper-slide-active {
      .slider-rooms__image {
        // height: 100%;
        @include adaptive-value('height', 585, 486, 1);
      }
    }

    @media (max-width: $md4+px) {
      width: 100%;
    }
  }

  // .slider-rooms__image
  &__image {
    // height: 100%;
    @include adaptive-value('height', 585, 486, 1);
    transition: height 0.8s ease;
    img {
      height: 100%;
    }

    @media (min-width: $md3+px) {
      // height: 83%;
      @include adaptive-value('height', 486, 390, 1);
    }
  }

  // .slider-rooms__content
  &__content {
    position: absolute;
    max-width: 240px;
    @include adaptive-value('left', 24, 15, 1);
    @include adaptive-value('bottom', 24, 15, 1);
    @include adaptive-value('padding', 32, 15, 1);

    background-color: rgba(255, 255, 255, 0.9);
    /* Если браузер поддерживает backdrop-filter */
    @supports (
      (-webkit-backdrop-filter: blur(31px)) or (backdrop-filter: blur(31px))
    ) {
      background-color: rgba(255, 255, 255, 0.72);
      backdrop-filter: blur(31px);
    }

    &::before {
      position: absolute;
      bottom: 0;
      right: 0;
      transform: translateX(100%);
      width: 48px;
      height: 48px;
      background-color: $orangeColor;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  // .slider-rooms__label
  &__label {
  }

  // .slider-rooms__title
  &__title {
    font-size: 600px;
    @include adaptive-value('font-size', 28, 24, 1);
  }

  // .slider-rooms__arrows
  &__arrows {
    position: absolute;
    top: 50%;
    left: 24px;
    width: calc(100% - 48px);
    transform: translateY(-50%);
    justify-content: space-between;
    pointer-events: none;
    z-index: 5;

    @media (min-width: $md1+px) {
      left: -24px;
      width: calc(100% + 48px);
    }
  }

  // .slider-rooms__dots
  &__dots {
    @media (min-width: $md3+px) {
      position: absolute;
      bottom: 30px !important;
      width: 100% !important;
      left: 396px !important;
      z-index: 6;
    }

    @media (max-width: $md3+px) {
      justify-content: center;
      padding-top: 15px;
    }
  }
}
.label-slider {
  color: $darkGrayColor;
  display: grid;
  grid-template-columns: auto 27px auto;
  gap: 8px;
  align-items: center;
  justify-content: start;
  &:not(:last-child) {
    margin-bottom: 8px;
  }

  // .label-slider__number
  &__number {
  }

  // .label-slider__line
  &__line {
    height: 1px;
    background-color: $darkGrayColor;
  }

  // .label-slider__text
  &__text {
  }
}
.slider-arrows {
}
.slider-arrow {
  // .slider-arrow_white
  &_white {
  }

  // .slider-arrow_prev
  &_prev {
  }

  // .slider-arrow_next
  &_next {
  }
}
